
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(238, 187, 124);
  position: fixed;
  top: 0;
  width: 100%;
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 20px 110px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
  }
   li a:hover:not(.active) {
    background-color: rgb(17, 17, 17);
  }
  a:hover {
  color: orange;
   border-bottom: 3px solid rgb(190, 34, 34);
  }
  
  .active {
    background-color: #04AA6D;
  }
  nav{
    text-align: center;
    padding: 10px;
    font-size: medium;
  }

   nav a{
    color: black;
    font-size: medium;
  }